*,
*:before,
*:after {
  box-sizing: border-box;
}

/*style des titres et textes*/
h1 {
  font-family: var(--font-title);
  font-size: var(--h1);
  font-weight: 700;
}

h2 {
  font-family: var(--font-title);
  font-size: var(--h2);
  font-weight: 700;
}

h3 {
  font-family: var(--font-title);
  font-size: var(--h3);
  font-weight: 500;
}

h4 {
  font-family: var(--font-quote);
  font-size: var(--h4);
  font-weight: 500;
}

body {
  font-family: var(--font-text);
  font-size: var(--body);
  font-weight: 400;
}

button {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: 2px solid var(--black);
  justify-content: center;
  aligb-items: center;
  font-family: var(--font-text);
  padding: 7px 12px;
  font-size: var(--button);
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}
