.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 40px 30px;
  margin-top: 72px;
  background-color: var(--black);
  color: var(--white);
  width: auto;
}

.footer a {
  color: var(--white);
  text-decoration: none;
}

.footer_logo {
  display: flex;
  justify-content: center;
}

.footer_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 30px;
  font-size: var(--small-text);
}

.footer_social-list {
  padding-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer_title {
  font-size: var(--body);
  font-weight: 700;
}
