/*Font*/
@import url("https://use.typekit.net/rbl2bwc.css");

/* Vendors */
@import "vendors/normalize.css";

/* Utils */
@import "utils/variable.css";

/* Base */
@import "base/main.css";

/* Helvetica */
@font-face {
  font-text: "helvetica";
  src: url("src/fonts/helveticaregular-webfont.woff2") format("woff2"),
    url("src/fonts/helveticaregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
