/*Font*/
@import url("https://use.typekit.net/rbl2bwc.css");

/* Vendors */
@import "vendors/normalize.css";

/* Utils */
@import "utils/variable.css";

/* Base */
@import "base/main.css";
@import "base/media.css";

/*layout*/
@import "layout/header.css";
@import "layout/footer.css";
@import "layout/section.css";

/* Components */
@import "components/card.css";
@import "components/menu.css";
@import "components/head.css";
@import "components/hero.css";
@import "components/button.css";
@import "components/chapo.css";

/* Helvetica */
@font-face {
  font-text: "helvetica";
  src: url("../src/fonts/helveticaregular-webfont.woff2") format("woff2"),
    url("../src/fonts/helveticaregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
